html, body {
    margin: 0;
    padding: 0;
}

.header { grid-area: header; }
.menu { grid-area: meny; }
.main { grid-area: main; }
.foter { grid-area: foter;}
.side { grid-area: side;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header header header header header'
        'meny meny meny meny meny'
        'main main main main main'
        'foter foter foter foter foter';
        
}

.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
}


.flyt{
    float: left;
}

.flyte{
    float: right;
}

body{
background-color: #eecae3;
}
/* tittel */
.header { 

    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    height: 5rem;

        /* logo/text i midten */
        align-items: center;
        justify-content: center;
        display: flex;
}


/* meny */
#A, #M, #O, #K{ 
    background-color: #c192bd;
    border-radius: 1rem;
    
    /* height: 2rem; */
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    }

nav li{
    margin: 1rem;
}

nav li a{
    text-decoration: none;
    color:white;
    padding:1.5rem;
    display: block;
}

/* Endrar bakgrunnsfargen på menyen når ein tek muspeikar over. */
nav li a:hover{
    background-color:#491542;
    border-radius: 1rem;
}

li{
    list-style: none;
}

.menu{

    height: 5rem;
}

.main{
background-color: rgb(255, 240, 251);
padding: 1rem;
border: solid 7rem #eecae3;
    padding-left: 1rem;
}

.foter{


    display: flex;
    justify-content: center;
    align-items: center;
}

/* tittel */





/* For mobil, eller portrerttmodus, med låg oppløysing */
@media screen and (max-width: 800px) {
    /* Når skjermstørrelsen blir  */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'header'
            'meny'
            'meny'
            'main'
            'foter';
    }

    /* 
        Endrer menyen sitt design for mobil.
        Menyelementene ligg ikkje lenger under kvarandre
        (frå column til row). I tillegg så midtstiller
        eg elementa i menyen.
    */
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Når skjermen er liten, så vil biletet i main ta heile bredda. */
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .flyte {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    /* Skriftstørrelsen i header blir mindre på mobil. */
    #tittel {
        font-size: 1rem;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
}