body {
    background-color: lightcoral;
}

.popup{
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}