#top{
    background-color: gold;
}

#klokke{
    background-color: greenyellow;
}

#navnVelger{
    background-color: aqua;
}

#quiz{
    background-color: gray;
}

#giInfo{
    background-color: palegreen;
}
