html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightcoral;
}

main{
    background-color: aliceblue;
    width: 500px;
    padding: 1rem;
}

input{
    /* display: block; */
}