/* Grid container koden ligger i css grid */

/* font */
.gowun-batang-regular { 
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

/* flex */
.flex{
    justify-content: center;
    align-items: center;
    display: flex;
}


/* flyt */
.flyt{ /* flyter ting til venstre */
    float: left;
    display: block;
    max-width: 400px;
}
.flyte{ /* flyter ting til høyre */
    float: right;
    display: block;
    max-width: 400px;
}

/* figure */
figure { /* source texst under bilde */
    margin-top: 0;
    margin-bottom: 10px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    unicode-bidi: isolate;
}


/* copy under */
.copy{ /* abby's life helt oppe */
    justify-content: center;
    align-items: center;
    display: flex;
    
    color: #082233;
    background-color: #678570;
}



/*tittel under*/
.header { /* fikse headeren */
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

/* bakrunsbilde på tittelen australia */
    background-image: url("../bilder/mainpic.jpg");
    background-size: cover;
    background-position: center;
    /* background-size: contain; = måte å endre størelse på et bakrunnsbilde*/
}

.header{ /* få text i midten */
    align-items: center;
    justify-content: center;
    display: flex;
}


.ausi{/* får en solid farget bakrunn bak australia */
    background-color: #678570;
    border: 1rem solid #678570;
    border-radius: 1rem;
}

/* alt med tittel over */
#A, #M, #F, #K{ /* farge på meny (skrives sånn for å få induviduelle bokser)*/
    background-color: #678570;
    border-radius: 0.5rem; /* runder av hjørnene på boksene */
}

/* alt med meny under */
li{/* gjøre at li ikke gir liste dotter */
    list-style: none;
}

nav{ /* sentrere meny */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* meny ligger bortover ikke ned */
    }

nav li{/* mellomrom mellom meny brikkene */
    margin: 1rem;
}

nav li a{ /* endre farge på text i meny */
        text-decoration: none;
        color:white;
        padding:1.5rem;
        display: block;/* gjør at der en en blokk rundt og ikke bare farge rett bak ordene */
}

/* Endrar bakgrunnsfargen på menyen når man har muspeikar over. */
nav li a:hover{
    background-color:#154949;
    border-radius: 0.5rem;
}
/* alt med meny over*/

/* alt med main under*/
.main{
    font-size: 1.2rem;
}
/* alt med main over */
