html, body {
    margin: 0;
    padding: 0;
}

#top { grid-area: top; } /* overskriften */
#meny { grid-area: meny; } /* menyen */
#endreFarge { grid-area: endreFarge; } /* farger å velge mellom */
#quiz { grid-area: quiz;} /* quizen */
#tom { grid-area: tom; } /* sentrerer quizen */
#media { grid-area: media; } /* sentrerer quizen */
#animasjon { grid-area: animasjon; } /* sentrerer quizen */
#skole { grid-area: skole; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'top top top top top top top top top top top top top'
        'meny meny meny meny meny meny meny meny meny meny meny meny meny'
        'endreFarge endreFarge   endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge endreFarge'
        'quiz quiz quiz quiz quiz quiz quiz quiz quiz quiz quiz quiz quiz'
        'tom tom tom tom tom tom tom tom tom tom tom tom tom'
        'media media media media media media media media media media media media media'
        'animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon animasjon'
        'skole skole skole skole skole skole skole skole skole skole skole skole skole'; 
}


.grid-container > div { 
    font-size: 1.5rem;
}

/* grunnleggende komandoer. Vet hvor de er hvis jeg glømmer hvordan å skrive de */
.flytL {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.flytR {
    float: right;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
