a{ /* linkene til kildene */
    color: rgb(78, 137, 102);
    text-decoration: none;
}

p a:hover{ /* linkene til kildene */
    color: rgb(4, 27, 8);
}

#K{ /* mørkere farge på taben man er på */
    background-color:#154949;
}