html, body {
    margin: 0;
    padding: 0;
}

#hylleOgKlær { grid-area: hylleOgKlær; }
#romOgKropp { grid-area: romOgKropp;}





.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp '
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp';
}


.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
}


#hylle{
    position: absolute;
    z-index: 0;
}

#litenRødKjole{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 130px;
}

/* #litenGrønKjole{
    
    position: absolute;
    z-index: 2;
    top: 10px;
} */

#litenAntrekk{
    position: absolute;
    left: 130px;
    top: 310px;
}

#rom{
    position: absolute;
    float: left;
}

#kropp{
    position: relative;
    top: 50px;
    left: 200px;
}

#rosaKjole{
    position: relative;
    left: 30px;
    bottom: 60px;
}

#antrekk{
    position: relative;
    right: 125px;
    bottom: 100px;
}