html, body {
    margin: 0;
    padding: 0;
}

#hylleOgKlær { grid-area: hylleOgKlær; }
#romOgKropp { grid-area: romOgKropp;}
#hylleOgHar { grid-area: hylleOgHar; }
#oppdrag {grid-area: oppdrag;}
#poeng {grid-area: poeng;}
#tom {grid-area: tom;}
#tom2 {grid-area: tom2;}
#forklaring {grid-area: forklaring;}


.grid-container {
    display: grid;
    position: relative; /* prøver noe jeg fant på nett for å få bildene oppå hverandre */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'hylleOgKlær hylleOgKlær hylleOgKlær     romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp     hylleOgHar hylleOgHar    forklaring forklaring'
        'tom2 tom2 tom2      oppdrag oppdrag oppdrag oppdrag oppdrag      poeng poeng      tom tom';
}


.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
}

/* påminnelse til selv: container kan ikke ha position absolut, da blir container veldig liten */
body{
    background-color: #937281;
}


/* #romOgKropp{
    grid-column: 4 / -1 ;
    position: absolute;
} */
#rom{
    position: absolute;/* da ligger dokken oppå */
    right: 20rem;
    pointer-events: none; 
}
#hylle1{ /* venstre (L) hylle */
    position: absolute; /* absulut fordi orginal posisjon er fint, og da klan jeg ligge ting i forhold til den. */
    pointer-events: none; 

}
#hylle2{/* høyre (R) hylle */
    position: absolute; /* hår (i hyller) blir posisjoner i fohopld til den */
    float: right;
    right: 15.5rem;
    pointer-events: none; 
}

#kropp{
    position: relative;
    top: 8.9rem;
    transform: rotate(90deg);
}


#dokkeHar1, #dokkeHar2, #dokkeHar3{
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    top: 8.9rem;
    }

#rosaKjole{
    position: absolute;
    z-index: 1;
}

#antrekk{
    position: absolute;
    z-index: 1;
}

#festKler{
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
}


/* ting i hyllen */
#litenRosaKjole{
    position: relative;
    transform: rotate(90deg);
    top: 7rem;
}

#litenAntrekk{
    position: relative;
    transform: rotate(90deg);
    top: 8rem;
}

#knappFestKler{
    position: relative;
    top: 10rem;
    transform: rotate(90deg);
}

#knappHar1,#knappHar2,#knappHar3{
    position: relative;
    z-index: 1;
    transform: rotate(90deg);
    right: 2.5rem;
    top: 4rem;
}

#knappHar1{ /* trengte ekstra justeringer */
    top: 10rem;
}
#knappHar2{ /* trengte ekstra justeringer */
    top: 8rem;
}




#tekst{
    border: solid 0.5rem #DAA2c8;
    border-radius: 0.5rem;
    background-color: #DAA2c8;
}


#poeng{
    padding-left: 3rem;
    padding-right: 3rem;
}

#brukerSerPoeng{
padding-left: 1.5rem;
}
#leverInnSvar{
    z-index: 1;
    position: absolute;
}

#forklaring{
    background-color: aliceblue;
}

#poengSkrift{
    background-color: #DAA2c8;
    padding-left:2.5rem;
    border-radius: 1rem;
}


/* #nakenKler{
    position: relative;
    left: 220px;
    bottom: 400px;
}  */

/* 

html, body {
    margin: 0;
    padding: 0;
}

#hylleOgKlær { grid-area: hylleOgKlær; }
#romOgKropp { grid-area: romOgKropp;}





.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp '
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp'
        'hylleOgKlær hylleOgKlær      romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp romOgKropp';
}


.grid-container > div { 
    font-size: 1.5rem;
}


#hylle{
    position: absolute;
    z-index: 0;
}

#litenRosaKjole{
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 130px;
}

#litenAntrekk{
    position: absolute;
    left: 130px;
    top: 310px;
}

#rom{
    position: absolute;
    float: left;
}

#kropp{
    position: relative;
    top: 50px;
    left: 200px;
}

#rosaKjole{
    position: relative;

}

#antrekk{
    position: relative;
    right: 125px;
    bottom: 100px;
}

#nakenKler{
    position: relative;
    left: 220px;
    bottom: 400px;
    z-index: 0; z-index er for at hyllen skal være bakerst, lavt tall bak, høyt tall fremme 
} */