/* #top{
    background-color: gold;
}

#klokke{
    background-color: greenyellow;
}


#gi{
    background-color: palegreen;
}

#meny{
    background-color: palevioletred;
}

#profil{
    background-color: blue;
}


body{
    background-color: #f5cac3;
}

#quiz{
    background-color: #F7EDE2;
} */
