#top{
    background-color: gold;
}

#klokke{
    background-color: greenyellow;
}

#nv{
    background-color: aqua;
}

#quiz{
    background-color: gray;
}

#gi{
    background-color: palegreen;
}

#meny{
    background-color: palevioletred;
}

#profil{
    background-color: blue;
}