#top{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#profil{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#profilbilde1{
position: absolute;

padding-top: 1rem;
padding-left: 1rem;
}
#profilbilde2{
position: absolute;

padding-top: 1rem;
padding-left: 1rem;
}
/* plaser bilde 1 og 2 over hverandre og sørg for det er samme størelse */


#top{
    border-bottom: solid 0.2rem gray;
}


#endreFarge{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    list-style: none;
}

.knapper{

    width: 138px;
    background-color: #50496E;
}

.alternativer{
    display: flex;
    justify-content: unset;
    align-items: first baseline;
}



/* #brukerSittSvarSpørsmål2,#brukerSittSvarSpørsmål1{
    float: left;
    display: flex;
    justify-content: center;
    align-items: baseline;
} */