#top{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#profil{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#profilbilde1{
position: absolute;

padding-top: 1rem;
padding-left: 1rem;
}
#profilbilde2{
position: absolute;

padding-top: 1rem;
padding-left: 1rem;
}
/* plaser bilde 1 og 2 over hverandre og sørg for det er samme størelse */

