#top{
    display: flex;
    justify-content: center;
    border-bottom: solid 0.2rem gray;
}

#profilbilde1,#profilbilde2{  /* profilbildene bruker kan velge mellom */
position: absolute;
top: 1rem;
left: 3rem;
}
/* plaser bilde 1 og 2 over hverandre og sørg for det er samme størelse */

#endreFarge{
    display: flex;
    justify-content: space-evenly;/* samme mengde mellomrom mellom de */
    align-items: center;
}

#meny{
    list-style: none;
}

.knapper{/* knappen for å sende inn svar */
    width: 138px;/* stopper fargen fra å gå langs hele siden */
    background-color: #50496E; /* (liker ikke hvordan knappen ser ut med button function) */
}

.alternativer{/* knappene for svaralternativene */
    display: flex;/* fungerer for å ha bakgrunnsfargen (sutte i js) bli der den skal bli */
} 