html, body {
    margin: 0;
    padding: 0;
}

#top { grid-area: top; }
#klokke { grid-area: klokke;}
#nv { grid-area: nv; }
#meny { grid-area: meny; }
#quiz { grid-area: quiz;}
#gi { grid-area: gi; }
#mellom { grid-area: mellom; }
#profil { grid-area: profil; }




.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'profil   top top top top top top top    klokke klokke'
        'meny   nv nv nv nv     mellom      quiz quiz quiz quiz'
        'meny   gi gi gi gi gi gi gi gi gi';
}


.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
}

.flytL {
    float: left;
}

.flytR {
    float: right;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}