html, body {
    margin: 0;
    padding: 0;
}

#top { grid-area: top; }
#klokke { grid-area: klokke;}

#meny { grid-area: meny; }
#quiz { grid-area: quiz;}
#gi { grid-area: gi; }
#mellom { grid-area: mellom; }
#profilbilde { grid-area: profilbilde; }




.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'profilbilde   profilbilde top top top top top top    klokke klokke'
        'meny   meny quiz quiz quiz quiz quiz quiz quiz quiz'
        'meny   meny gi gi gi gi gi gi gi gi'; 
}


.grid-container > div { /* Alle barna til div-containeren av typen div */
    font-size: 1.5rem;
}

.flytL {
    float: left;
}

.flytR {
    float: right;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
