.hoved, #bygg, #hage{
    padding: 0.5rem;
}

body{
    background-color: #ededed;
    color: #1a2319;
    
    /* border: solid #ededed 1rem; */
}


#tittel{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.kontakt nav{
    padding-top:0.5rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.kontakt{
    overflow: hidden;
    background-color: #73956F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}

hr{
    height: 0.3rem;
    background-color: #73956F;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.UnderTittel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sentrert{
    display: flex;
    justify-content: center;
    align-items: center;
}

.senterBilde{
    text-align: center;
}

.senterBilde{
    max-width: 100%;
    height: auto;
}


