#loggInnPopup{ /* fått av en vidio på nett. Setter opp en popup boks */
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loggInnPopup{
    margin-top: 80rem;
}

.tekst{
    padding: 0.5rem;
}

body{
    background-color: #ededed;
    color: #1a2319;
}

hr{
    height: 0.3rem;
    background-color: #73956F;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.tittel{
    background-color: #73956F;
}

.kontakt nav{
    padding-top:0.5rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.kontakt{
    overflow: hidden; /* hvis de ikke passer, så vises det ikke */
    background-color: #73956F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky; /* henger på toppen av siden */
    top: 0;
    width: 100%;
}


.UnderTittel{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Old Standard TT", serif; /* skrifttype */
    font-weight: 700; /* størelse på teksten */
    font-style: normal;
}

.sentrert{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #beskjed{
    height: 200px;
    width: 500px;
} */
/* 
.skjemaOverskift{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .input{
    
} */

/* #lesMerKode:hover{
    cursor: pointer;
} */

/* .old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  } */




  /* Skilder:
  old-standard-tt-regular font fra: https://fonts.google.com/selection/embed
  */