.tekst{
    padding: 0.5rem;
}

body{
    background-color: #ededed;
    color: #1a2319;
}

hr{
    height: 0.3rem;
    background-color: #73956F;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.tittel{
    background-color: #73956F;
}

.kontakt nav{
    padding-top:0.5rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.kontakt{
    overflow: hidden;
    background-color: #73956F;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    width: 100%;
}


.UnderTittel{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
}

.sentrert{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* #lesMerKode:hover{
    cursor: pointer;
} */

/* .old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  } */




  /* Skilder:
  old-standard-tt-regular font fra: https://fonts.google.com/selection/embed
  */