
@media screen and (max-width: 800px) {
    /* Når skjermstørrelsen blir  */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr; /* med to kan jeg ha klokke og profilbilde ved sidnav hverandre */
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'tittel'
            'kontakt'
            'hoved'
            'bygg'
            'hage'
            'annet';
    }

    .meny nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
    }
    .kontakt nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
    /* Når skjermen er liten, så vil biletet i main ta heile bredda. */
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .flyte {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    #underTittel {
        font-size: 1.2rem;
    }
}

/* 
@media screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'tittel tittel'
            'meny sosials'
            'main main'
            'bygg bygg'
            'hage hage'
            'annet annet';
    }

    #sosials{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .flyte {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }
    #tittel {
        font-size: 1rem;
        background-color: blue;
    }
} */