
#sp1alternativ1,#sp1alternativ2,#sp1alternativ3,#sp1alternativ4{
    width: 140px;
}

#sp2alternativ1,#sp2alternativ2,#sp2alternativ3,#sp2alternativ4{
    width: 140px;
}

#sp3alternativ1,#sp3alternativ2,#sp3alternativ3,#sp3alternativ4{
    width: 140px;
}

#sp5alternativ1,#sp5alternativ2,#sp5alternativ3,#sp5alternativ4{
    width: 140px;
}

#merInfo{
    background-color: #407551;
    width: 140px;
}

#funFact1{
    background-color: #407551;
}
