
body{
    /* color: #d6f0df */
    /* farge all tekst */
    background-color: #406975;
    
}

.tittel { 
    /* color: #d6f0df; */
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
    
#java, #kode{ 
    /* background-color: #E6B89C; */
    border-radius: 1rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
nav li{
    margin: 1rem;
    list-style: none;
}

nav li a{
    text-decoration: none;
    padding:1.5rem;
    display: block;
    color: #d6f0df
}

/* Endrar bakgrunnsfargen på menyen når ein tek muspeikar over. */
nav li a:hover{
    background-color:#1b2b2e;
    border-radius: 1rem;
    color: #d6f0df
}

.underBildeTekst{
    font-style: italic;
    font-size:medium;
}


.hoved{
    /* background-color: #d5ecd9; */
    color: #1b2b2e;
    padding: 1rem;
    /* border: solid 2rem #699b7a; */
    padding-left: 1rem;
}

.side{
    /* background-color: #d5ecd9; */
    color: #1b2b2e;
    padding: 1rem;
    /* border: solid 2rem #699b7a; */
    padding-left: 1rem;
}

.bunn{
    display: flex;

    justify-content: center;
    align-items: center;
}

#svartHvit{
    background-color: #ffffff;
    border: 0.2rem solid #000000;
    color: #000000;
    width: 140px;
    padding-left: 1rem;
}

#vaneligFarge{
    background-color: #407551;
    border: 0.2rem solid #7B9E87;
    width: 140px;
    padding-left: 1rem;
}

#morkeModus{
    background-color: #303030;
    border: 0.2rem solid #181818;
    color: #ffffff;
    width: 140px;
    padding-left: 1rem;
}

#velgFarge{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
