
body{
    color: #d6f0df;/* farge all tekst */
}

.tittel { 
    color: #d6f0df;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
    
#java, #kode{ 
    background-color: #6c8f79;
    border-radius: 1rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
nav li{
    margin: 1rem;
    list-style: none;
}

nav li a{
    text-decoration: none;
    padding:1.5rem;
    display: block;
    color: #d6f0df
}

/* Endrar bakgrunnsfargen på menyen når ein tek muspeikar over. */
nav li a:hover{
    background-color:#1b2b2e;
    border-radius: 1rem;
    color: #d6f0df
}


.hoved{
    background-color: #819e81;
    color: #1b2b2e;
    padding: 1rem;
    border: solid 2rem #304530;
    padding-left: 1rem;
}

.side{
    background-color: #819e81;
    color: #1b2b2e;
    padding: 1rem;
    border: solid 2rem #304530;
    padding-left: 1rem;
}

.bunn{
    display: flex;

    justify-content: center;
    align-items: center;

}

body{
    background-color: #304530;
}

