#B{ /* mørkere farge på taben man er på */
    background-color:#154949;
}


.tittel{ /* tittel i midten */
    display: flex;
    justify-content: center;
    align-items: center;
}


.b{/* få link til å ikke se ut som link */
    text-decoration: none;
    color:  #000000;
}

img{
    padding-right: 10px ;
}

