.header{
    /* bakrunsbilde på tittelen  */
    background-image: url("../bilder/Brisban/Canyon.jpeg");
    background-size: cover;
    background-position: center;
    /* background-size: contain; = måte å endre størelse på et bakrunnsbilde*/
}

.ausi{/* får en solid farget bakrunn bak australia */
    background-color: #78513b;
    border: 1rem solid #78513b;
    border-radius: 1rem;
}

/* alt med tittel over */
#S, #V, #K{ /* farge på meny (skrives sånn for å få induviduelle bokser)*/
    background-color: #78513b;
    border-radius: 0.5rem; /* runder av hjørnene på boksene */
}

.copy{ /* abby's life helt oppe */
    color: #302419;
    background-color: #78513b;
}

img{
    padding-right: 15px;
}

#B{ /* mørkere farge på taben man er på */
    background-color: #4c3826;
}
