
/* For mobil, eller portrerttmodus, med låg oppløysing */
@media screen and (max-width: 800px) {
    /* Når skjermstørrelsen blir  */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            'copy'
            'header'
            'meny'
            'main';
    }

    /* 
        Endrer menyen sitt design for mobil.
        Menyelementene ligg ikkje lenger under kvarandre
        (frå column til row). I tillegg så midtstiller
        eg elementa i menyen.
    */

    .re-order .row {
        display: flex;
        display: -ms-flex;
        flex-direction: column;
    }
    .re-order .row .first {
        order: 2;
    }
    .re-order .row .second {
        order: 1;
    }



    h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* Når skjermen er liten, så vil biletet i main ta heile bredda. */
    .flyt {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .flyte {
        float: none;
        display: block;
        max-width: 100%;
        width: 100%;
        justify-content: center;
    }

    .body{
        scrollbar-width: none;
    }
    /* Skriftstørrelsen i header blir mindre på mobil. */
    #tittel {
        font-size: 1rem;
    }
}

