.p {
    /* sentrerer kildene */
    justify-content: center;
    align-items: center;
    display: flex;
}




a{
    color: rgb(78, 137, 102);
    text-decoration: none;
}

a:hover{
    color: rgb(8, 47, 14);
}

#K{
    background-color:#154949;
}