.hoved{
    background-color: blueviolet;
}
.bygg{
    background-color: blue;
}
.hage{
    background-color: brown;
}

#tittel{
    display: flex;
    justify-content: center;
    align-items: center;
    
}