
.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.header {
  /* flexbox for titelen*/
  display: flex;
  justify-content:center;
}

li {
  list-style-type: none; 
  /* gjør at det ikke er punkter på lister (headeren) */
}
.grid-container {
  /* setter opp griden -->*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header header header header header'
    'menu   main main main main main'
    'menu   footer footer footer footer footer';
    /*<-- setter opp griden */
  gap: 5px; /* border mellom de forskjellige delene av gridden */
  background-color: #b56886;
  padding: 5px; /* border rundt hele gridden */
}

.grid-container > div {
  background-color: rgba(255, 222, 248, 0.8);
  /* text-align: left ; */
  font-size: 20px; /* størelse på alt (inkludert tekst) */
}

/* .text {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
} */

.main {
  /* display: flex;
  justify-content: center; */
} 
/* <-- brukte dette for å få bilde og tekst med hverandre */

/* img {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
} */

.flyt {
  float: left;
  display: block;
  max-width: 400px;
}